.wrapper {
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header {
    width: 76px;
    height: 28px;
    color: rgb(5, 5, 16);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1px;
    margin: 16px 0 18px 24px;
}
