.allWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(5, 5, 16, 0.16);
}

.wrapper {
    position: absolute;
    width: 341px;
    padding: 24px 16px 28px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    z-index: 10;
    top: 264px;
    left: 454px;
}

.headerWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 36px;
    width: 100%;
    justify-content: center;
}

.header {
    color: rgb(5, 5, 16);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.closeButton {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/CloseImg.svg');
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    border: none;
}

.allSortingWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sortWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}

.cercal {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(101, 52, 255);
    border-radius: 50%;
    margin-right: 14px;
}

.text {
    color: rgb(5, 5, 16);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
}
